/**
 * Theme
 */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	color: white;
}

li {
	float: left;
	padding: 20px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px dotted white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

.brand {
	background: $brand-color;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

//example of a mixin
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.test2 {
	margin: 20px;

	@include border-radius(5px);
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

	li {
		float: left;
		border-right: 1px solid #bbb;

		a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
	}
}

/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #111;
}*/

.active {
	background-color: #4caf50;
}

.seven {
	width: calc(70% - 20px);
	background-color: green;
	float: left;
	margin: 10px;
	padding: 10px;
}

.three {
	width: calc(30% - 20px);
	background-color: black;
	float: left;
	margin: 10px;
	padding: 10px;
	color: white;
}

section {
	background-color: grey;
}

.push--ends {
	margin-top: 11px;
	margin-bottom: 11px;
}

#myBar {
	width: 10%;
	height: 30px;
	background-color: #4caf50;
	text-align: center;

	/* To center it horizontally (if you want) */
	line-height: 30px;

	/* To center it vertically */
	color: white;
}

//// Background Color
.light-grey {
	background-color: grey;
}

.dark-golden-rod {
	background-color: darkgoldenrod;
}

.btn {
	background: grey;
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
	padding: 10px;
	border: 2px solid transparent;
}

.low {
	background-color: green;
}

.mod {
	background-color: yellow;
}

.high {
	background-color: orange;
}

.ext {
	background-color: red;
}

.border-black {
	border: 2px solid black;
}

.soft {
	padding: 11px;
}
